<form method="POST" action="/registro_servidores/">
        {% csrf_token %}
        <div class="registro">
                <fieldset  class="col-xs-8" style="background-color:rgba(34,53,72,0.60); padding:15px;">
                        <legend class="tituloRegistro">Registro Servidores</legend>
                        <div class="alert alert-danger" id="errorA" style="display: none"></div>
                        <div class="form-group" style="padding:12px">
                                <label class="regis">IP servidor:</label>
                                <input type="text" class="form-control" name="IP_server" placeholder="IP">
                        </div>
                        <div class="form-group" style="padding:12px">
                                <label class="regis">Usuario Servidor:</label>
                                <input type="text" class="form-control" name="user_server" placeholder="usuario">
                        </div>
                        <div class="form-group" style="padding:12px">
                                <label class="regis">Contraseña Servidor:</label>
                                <input type="password" class="form-control" name="pass_server" placeholder="Contraseña">
                        </div>
                        <div style="padding:12px">
                                <button type="submit" id="btnCrear" class="btn btn-success">Registrar</button>
                        </div>
                </fieldset>
        </div>
</form>
