h1 {
        text-align: center;
        font-family: 'Monoton', cursive;
	font-size: 60px;
        color: rgba(255,255,255);

}

#administracion {
        text-align: center;
        font-family: 'Monoton', cursive;
        font-size: 60px;
        color: rgb(139,178,160);
}

.regis {
	font-size: 15px;
        color: white;
}

body {
	height: 50vh;
	weidth: 100%;
	background-color:rgb(50,40,25);
	background-blend-mode: soft-light;
	background-image: url("/static/imgs/fondoViwart.jpg");
	padding:1px;
	color:white;
}

#conexion {
	display: flex;
        align-items: center;    
        justify-content: center;
        min-height: 75vh;
}

#img1 {
	display: flex;
        align-items: center;
        justify-content: center;
        min-height: 70vh;
	opacity: 0.4;
}
 
#img1:hover {
    opacity: 1.0;
}

fieldset {
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    padding: 15;
}

#bootstrap-overrides fieldset {
    padding: 15;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}
 
.row{
    padding: 5px;
}

.registro{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 70vh; 
}
