<form method="POST" action="/asociarAS/">
        {% csrf_token %}
        <div class="registro">
                <fieldset  class="col-xs-8" style="background-color:rgba(34,53,72,0.60); padding:15px;">
                        <legend class="tituloRegistro">Asociacion</legend>
			{% if errores %}
                        <div class="alert alert-danger" id="errorA"> {{ errores }} </div>
			{% endif %}
                        <div class="form-group" style="padding:12px">
                                <label class="regis">Usuario Administrador:</label>
                                <input type="text" class="form-control" name="usuario_admin" placeholder="usuario">
                        </div>
                        <div class="form-group" style="padding:12px">
                                <label class="regis">IP Servidor:</label>
                                <input type="text" class="form-control" name="IP_server" placeholder="IP">
                        </div>
			<div class="form-group" style="display:none"><input type="text" class="form-control" name="crear_as" id="crear_asociacion"></div>
                        <div class="form-group" style="display:none"><input type="text" class="form-control" name="eliminar_as" id="eliminar_asociacion"></div>
                        <div style="padding:12px">
                                <button type="submit" id="btnCrearAsociacion" class="btn btn-success col-xs-6">Asociar</button>
                                <button type="submit" id="btnEliminarAsociacion" class="btn btn-danger col-xs-6">Eliminar Asociacion</button>
                        </div>
                </fieldset>
        </div>
</form>
