{% extends 'admin/baseAdmin.html' %}

{% load static %}
{% block titulo %}Bienvenida Admin{% endblock %}

{% block estilos %}
<link rel="stylesheet" href="/static/css/admin/bienvenidaAdmin.css">
<link rel="stylesheet" href="/static/css/admin/registroAdmin.css">
{% endblock %}

{% block scripts %}
<script src="{% static 'js/admin/verificarC.js' %}"></script>
<script src="{% static 'js/admin/metodo.js' %}"></script>
<script src="{% static 'js/admin/metodoServidor.js' %}"></script>
<script src="{% static 'js/admin/metodoAsociacion.js' %}"></script>
{% endblock %}

{% block area %}
{% if bienvenidaAd %}
<div class="jumbotron" id="bienvenida">
	<header><h1><span id="titulo">Bienvenido</span></h1></header>
</div>
{% endif %}
{% if registroAd %}
<div class="jumbotron" id="registroAdmin">
	{% include 'admin/registroAdmin.html' %}
</div>
{% endif %} 
{% if registroSe %}
<div class="jumbotron" id="registroServ">
        {% include 'admin/registroServ.html' %}
</div>
{% endif %} 
{% if asociacion %}
<div class="jumbotron" id="asociacionAS">
        {% include 'admin/asociar.html' %}
</div>
{% endif %}
{% endblock %}


{% block contenido %}
<nav class="navbar navbar-inverse navbar-fixed-bottom">
	<div class="container-fluid">
		<div class="navbar-header">
			<div class="btn-group dropup">
				<a type="button" class="btn btn-link navbar-brand" role="button" href="{% url 'bienvenida_admin' %}">SSA</a>&nbsp;&nbsp;&nbsp;&nbsp;
				<button type="button" class="btn btn-primary btn-lg dropdown-toggle" id="btnNegro" data-toggle="dropdown" style="border-color:rgb(51,51,51);">
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu" style="background-color:rgba(255,255,255,0.0);">
					<li><button type="button" class="btn btn-primary btn-block" id="perfil">Editar perfil</btn></li>
					<li><a class="btn btn-danger btn-block" role="button" href="{% url 'logout' %}" id="salir">Salir</a></li>
				</ul>
			</div>
		</div>
		<ul class="nav navbar-nav">
			<li><a class="btn btn-link navbar-brand" role="button" href="{% url 'registro_administradores' %}" id="admin"><span class="glyphicon glyphicon-user"></span> Gestion Administradores</a></li>
			<li><a class="btn btn-link navbar-brand" role="button" href="{% url 'registro_servidores' %}" id="server"><span class="glyphicon glyphicon-object-align-horizontal"></span> Gestion Servidores</a></li>
			<li><a class="btn btn-link navbar-brand" role="button" href="{% url 'asociar_administrador_servidor' %}" id="asociacion"><span class="glyphicon glyphicon-random"></span>&nbsp;&nbsp;Asociar</a></li>
		</ul>
	</div>

</nav>    
{% endblock %}
