<form method="POST" action="/registro_administradores/" id="formulario_admin">
        {% csrf_token %}
        <div class="registro">
                <fieldset  class="col-xs-8" style="background-color:rgba(34,53,72,0.60); padding:15px;">
                        <legend class="tituloRegistro">Registro Administradores</legend>
			{% if errores %}
                        <div class="alert alert-danger" id="errorAdminR"> {{ errores }}</div>
			{% endif %}
                        <div class="form-group" style="padding:12px">
                                <label class="regis">Usuario Administrador:</label>
                                <input type="text" class="form-control" name="usuario" placeholder="usuario">
                        </div>
                        <div class="form-group" style="padding:12px">
                                <label class="regis">Nombre:</label>
                                <input type="text" class="form-control" name="nombre" placeholder="nombre">
                        </div>
                        <div class="form-group" style="padding:12px">
                                <label class="regis">Apellidos:</label>
                                <input type="text" class="form-control" name="apellidos" placeholder="apellidos">
                        </div>
			<div class="form-group" style="padding:12px">
                                <label class="regis">token-Telegram:</label>
                                <input type="text" class="form-control" name="telegram_token" placeholder="telegram_token">
                        </div>
			<div class="form-group" style="padding:12px">
                                <label class="regis">chat ID - Telegram:</label>
                                <input type="text" class="form-control" name="telegram_chatID" placeholder="telegram_chatID">
                        </div>
                        <div class="form-group" style="padding:12px">
                                <label class="regis">Contraseña Administrador:</label>
                                <input type="text" class="form-control" name="password" id="passwordAdmin" placeholder="Contraseña">
                        </div>
			<div class="form-group" style="display:none"><input type="text" class="form-control" name="crear" id="crear_admin"></div>
			<div class="form-group" style="display:none"><input type="text" class="form-control" name="actualizar" id="actualizar_admin"></div>
			<div class="form-group" style="display:none"><input type="text" class="form-control" name="eliminar" id="eliminar_admin"></div>
                        <div style="padding:12px">
                                <button type="submit" id="btnCrearAdmin" class="btn btn-success col-xs-4">Registrar</button>
				<button type="submit" id="btnActualizarAdmin" class="btn btn-info col-xs-4">Actualizar</button>
				<button type="submit" id="btnEliminarAdmin" class="btn btn-danger col-xs-4">Eliminar</button>
                        </div>
                </fieldset>
        </div>
</form>
