<form method="POST" action="/registro_servidores/">
        {% csrf_token %}
        <div class="registro">
                <fieldset  class="col-xs-8" style="background-color:rgba(34,53,72,0.60); padding:15px;">
                        <legend class="tituloRegistro">Registro Servidores</legend>
			{% if errores %}
                        <div class="alert alert-danger" id="errorA"> {{ errores }} </div>
			{% endif %}
                        <div class="form-group" style="padding:12px">
                                <label class="regis">IP servidor:</label>
                                <input type="text" class="form-control" name="IP_server" placeholder="IP">
                        </div>
                        <div class="form-group" style="padding:12px">
                                <label class="regis">Usuario Servidor:</label>
                                <input type="text" class="form-control" name="user_server" placeholder="usuario">
                        </div>
                        <div class="form-group" style="padding:12px">
                                <label class="regis">Contraseña Servidor:</label>
                                <input type="password" class="form-control" name="pass_server" placeholder="Contraseña">
                        </div>
                        <div class="form-group" style="display:none"><input type="text" class="form-control" name="crear_s" id="crear_servidor"></div>
                        <div class="form-group" style="display:none"><input type="text" class="form-control" name="actualizar_s" id="actualizar_servidor"></div>
                        <div class="form-group" style="display:none"><input type="text" class="form-control" name="eliminar_s" id="eliminar_servidor"></div>
			<div class="form-group" style="display:none"><input type="text" class="form-control" name="mostrar_s" id="mostrar_servidor"></div>
                        <div style="padding:12px">
                                <button type="submit" id="btnCrearServidor" class="btn btn-success col-xs-3"><STRONG>Registrar</STRONG></button>
                                <button type="submit" id="btnActualizarServidor" class="btn btn-info col-xs-3"><STRONG>Actualizar</STRONG></button>
                                <button type="submit" id="btnEliminarServidor" class="btn btn-danger col-xs-3"><STRONG>Eliminar</STRONG></button>
				<button type="submit" id="btnMostrarServidor" class="btn btn-warning col-xs-3"><STRONG>Mostrar</STRONG></button>
                        </div>
                </fieldset>
        </div>
</form>
