body {
        height: 50vh;
        weidth: 100%;
        background-color:rgb(50,50,50);
        background-blend-mode: soft-light;
        background-image: url("/static/imgs/conexion2.gif");
        padding:1px;
        color:white;
}

h1 {
        color: rgba(255,255,255);
	font-family: 'Open Sans', sans-serif;	
}

h3 {
	text-align: center;
        font-size: 40px;
        color: rgb(139,178,160);
}

#bienvenida {
	height: 95vh;
	weidth: 100%; 
	background-image: url("/static/imgs/inicioAdmin3.gif");
	color: white;
	background-color: rgb(71,99,127);
	opacity: 0.9;
}

#titulo {
	border-radius: 50px;
	background-color: rgb(50,50,50);
	opacity: 0.5;
	padding: 20px;
}

#btnNegro {
    background-color: rgb(51,51,51);
}

fieldset {
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    padding: 15;
}

#bootstrap-overrides fieldset {
    padding: 15;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}
 
.row{
    padding: 5px;
}

.registro{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 70vh; 
}
